<section class="section">
  <div class="container">
    <div class="columns">

  <div class="column is-one-third">
    <article class="media box">
      <div class="media-content">
        <% if user_signed_in? %>  
          <%= render 'userinfo', user: @user %>
        <% end %>
      </div>
    </article>
  </div>

  <div class="column is-one-third">
    <p>
      <strong> Upcoming events you're hosting</strong>
    </p>
      <% if @user.events.any? %>
      <% @user.events.all.each do |event| %>
        <%= render event %>
        <p class="show">
          <%= link_to "Show this event", event %>
        </p>
      <% end %>
      <% else %>
		<h3>No Events Found</h3>
	<% end %>
  </div>

  <div class="column is-one-third">
    <p>
      <strong>Upcoming events you're attending</strong>
    </p>
    <% if @user.attended_events.any? %>
    <% @user.attended_events.all.each do |event| %>
      <%= render event %>
      <p class="show">
        <%= link_to "Show this event", event %>
      </p>
    <% end %>
    <% else %>
  <h3>Not attending any events</h3>
  <% end %>
  </div>
<div>

    </div>
  </div>
</section>