<p>
  <strong>Name:</strong>
  <%= user.name %>
</p>
<br>

<p>
  <strong>Username:</strong>
  <%= user.username %>
</p>
<br>

<p>
  <strong>Email:</strong>
  <%= user.email %>
</p>
<br>

<p>
  <% if @user.events.any? %>
    <strong>Submitted <%= @user.events.count %> events</strong>
  <% else %>
    <strong>Submitted <%= 0 %> events</strong>
  <% end %>
</p><br>

<% if user_signed_in? %>
    <p class="control">
        <%= link_to "Change your password" , edit_user_registration_path, class: "button is-info" %>
    </p>
<% end %>