<p style="color: green"><%= notice %></p>

<section class="section">
    <div class="container">
      <div class="columns">
        
        <div class="column is-one-third">
          <article class="media box">
            <span class="media-content">
              <% if user_signed_in? %>  
                <%= render 'userinfo', user: @user %>
              <% end %>
            </span>
          </article>
        </div>


        <div class="column is-one-third">
            <% if @user.events.future.any? %>
              <p>
                <strong>Upcoming hosted events</strong>
              </p>
              <% @user.events.future.all.each do |event| %>
                <%= render event %>
                <p class="show">
                  <%= link_to "Show this event", event %>
                </p>
              <% end %>
              <% else %>
              <strong>No Upcoming events; sign up for one!</strong><br>
            <% end %>

        
            <% if @user.events.past.any? %>
            <br>
                <p>
                  <strong>Past hosted events</strong>
                </p>
                <% @user.events.past.all.each do |event| %>
                  <%= render event %>
                  <p class="show">
                    <%= link_to "Show this event", event %>
                  </p>
                <% end %>
            <% end %>
          </div>

          <div class="column is-one-third">
            <% if @user.attended_events.future.any? %>
            <p>
                <strong>Events you're signed up for</strong>
              </p>
            <% @user.attended_events.future.all.each do |event| %>
              <%= render event %>
              <p class="show">
                <%= link_to "Show this event", event %>
              </p>
            <% end %>
            <% else %>
            <strong>Not signed up to attend any events; don't be shy, go find one!<strong>
          <% end %>
          </div>
        <div>
    </div>
  </div>
</section>