
<article class="media box">
  <div class="media-content">
  <p>
    <strong>Title:  </strong>
    <%= event.title %>
  </p>  
  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= link_to event.creator.username, user_path(event.creator.id)  %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>
  <p>
    <strong>Date:</strong>
  <%= event.date %>
  </p>
</div>
</article>

