<div id="<%= dom_id event %>">
  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= event.day %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= event.month %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= event.year %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

</div>
